body {
    margin: auto;
}

section {
    margin: auto;
    width: 450px;
    background: linear-gradient(rgb(255, 157, 0), red);
    margin-top: 50px;
    padding: 10px;
    transition: 0.5s ease;
}

section div {
    width: 90%;
    margin: auto;
    padding: 5px;

}

.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.contente {
    text-align: center;
    transition: 0.5s ease;
}
.id {
    color: white;
}

.contente p {
    font-weight: bold;
}
/*
.contente img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.contente:hover {
    position: relative;
    bottom: 5px;
    padding: 10px;
    transition: 0.5s ease;
}*/
.my-img-container {
    position: relative;
    padding-top: 50%;
  }
  .my-img-container:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-color: transparent white transparent white;
    border-radius: 50%;
    animation: loader 1s linear infinite;
  }
  .my-img-container > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    border-radius: 20px;
  }
  @keyframes loader {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }

@media screen and (max-width:800px) {
    section {
        width: 80%;
        border-radius: 10px;
    }

}